accelerate
annotated-types
anyio
blinker
certifi
charset-normalizer
click
distro
filelock
Flask
fsspec
h11
httpcore
httpx
huggingface-hub
idna
itsdangerous
Jinja2
jiter
MarkupSafe
mpmath
networkx
numpy
openai
packaging
psutil
pydantic
pydantic_core
python-dotenv
PyYAML
regex
requests
safetensors
scipy
sniffio
sympy
tokenizers
torch
torchaudio
tqdm
transformers @ git+https://github.com/huggingface/transformers.git@c24c79ebf91f6f04faf287997848ed6e64d78899
typing_extensions
urllib3
Werkzeug
librosa>=0.10.0,<0.11.0
numba>=0.57.0
flask-cors>=4.0.0
